				@font-face {
					font-family: 'clash-grotestk';
					src: url('./3239Clash-Grotestk.woff2') format('woff2'),
						url('./3239Clash-Grotestk.woff') format('woff');
					  font-display: auto;
				}

				.clash-grotestk{font-family: 'clash-grotestk' !important;}

		